<!doctype html>
<html>
    <head>
        <title>ACP Controle Times</title>

        <!-- 'viewport' is used by bootstrap to respond to device size -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>

        <!-- Bootstrap includes javascript and css  (must follow jquery) -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
        </script>

        <!-- moment.js is the JavaScript equivalent of arrow.py -->
        <script 
            src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

    </head>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="/static/css/calc.css" />

    <body>
        <!-- bootstrap requires a 'container' div around content -->
        <div class="container">

            <h1>ACP Brevet Times</h1>
            <p>Displays times currently in the database</p>

            <div class="row">
                <div class="col-md-4">
                    <label>Top </label>
                    <input name="top_brevets" id="top_brevets" type="number" size=5 />
                    <label> entries</label>
                    <button type="button" onclick="btn_refresh()">Refresh</button> 
                </div>
                <div class="col-md-5"> </div>
                <div class="col-md-2">
                    <form action="/logout">
                        <input type="submit" value="Logout">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Open times:
                </div>
                <div class="col-md-6">
                    Close times:
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea id="open_times" rows="10" cols="50" readonly></textarea>
                </div>
                <div class="col-md-6">
                    <textarea id="close_times" rows="10" cols="50" readonly></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Open times (CSV):
                </div>
                <div class="col-md-6">
                    Close times (CSV):
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea id="open_times_csv" rows="10" cols="50" readonly></textarea>
                </div>
                <div class="col-md-6">
                    <textarea id="close_times_csv" rows="10" cols="50" readonly></textarea>
                </div>
            </div>
        </div>

    <script type="text/javascript">
        var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
        var OPEN_TIMES_URL = SCRIPT_ROOT + "/listOpenOnly";
        var CLOSE_TIMES_URL = SCRIPT_ROOT + "/listCloseOnly";
        var OPEN_TIMES_CSV_URL = SCRIPT_ROOT + "/listOpenOnly/csv";
        var CLOSE_TIMES_CSV_URL = SCRIPT_ROOT + "/listCloseOnly/csv";

        function btn_refresh() {

            var payload = {
                top: $("#top_brevets").val()
            };

            console.log(payload);
            // Update open times   
            $.getJSON(OPEN_TIMES_URL, payload, 
                // response handler
                function(data) {
                    console.log("Received response: ");
                    console.log(data);
                    var result = "";
                    var times = data.open;
                    for (i = 0; i < times.length; i++) {
                        result += times[i] + "\n";
                    }
                    $("#open_times").val(result);
                } // end of handler function
            );// End of getJSON
            // Update close times   
            $.getJSON(CLOSE_TIMES_URL, payload, 
                // response handler
                function(data) {
                    console.log("Received response: ");
                    console.log(data);
                    var result = "";
                    var times = data.close;
                    for (i = 0; i < times.length; i++) {
                        result += times[i] + "\n";
                    }
                    $("#close_times").val(result);
                } // end of handler function
            );// End of getJSON
            // Update open times csv
            $.getJSON(OPEN_TIMES_CSV_URL, payload, 
                // response handler
                function(data) {
                    console.log("Received response: ");
                    console.log(data);
                    var result = data.data;
                    $("#open_times_csv").val(result);
                } // end of handler function
            );// End of getJSON
            // Update open times csv
            $.getJSON(CLOSE_TIMES_CSV_URL, payload, 
                // response handler
                function(data) {
                    console.log("Received response: ");
                    console.log(data);
                    var result = data.data;
                    $("#close_times_csv").val(result);
                } // end of handler function
            );// End of getJSON
        }
    </script>
    </body>
</html>


