<!doctype html>
<html>
    <head>
        <title>Login</title>

        <!-- 'viewport' is used by bootstrap to respond to device size -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>

        <!-- Bootstrap includes javascript and css  (must follow jquery) -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
        </script>

    </head>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="/static/css/calc.css" />

    <body>
        <!-- bootstrap requires a 'container' div around content -->
        <div class="container">

            <div class="row">
                <div class="col-md-4"> 
                    <h1>Login Page</h1>
                    <p>
                        {{ message }}
                    </p>
                </div> 
            </div>


            <form method="POST" action="/login">
                {{ form.csrf_token }}

                <div class="row">
                    <div class="col-md-2">
                        {{ form.name_first.label }} 
                    </div>
                    <div class="col-md-6">
                        {{ form.name_first(size=50) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        {{ form.password.label }} 
                    </div>
                    <div class="col-md-6">
                        {{ form.password(size=50) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Login">
                    </div>
                </div>
            </form>
            <form action="/register">
                <input type="submit" value="Register new user">
            </form>
        </div>
    </body>
</html>


